* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: rgb(235, 235, 235)
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 400px;
    min-height: 600px;
    background: rgb(235, 235, 235);
    text-align: center;
    margin: 128px auto;
    border: solid #3d3d3d;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: #3d3d3d;
    font-size: 32px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 12px 30px 12px 14px;
    margin-right: 5px;
    border-radius: 4px 4px 4px 4px;
    border: 2px solid #3d3d3d;
    outline: none;
    width: 260px;
    background: transparent;
    color: #3d3d3d;
  }
  
  .todo-input::placeholder {
    color: #3d3d3d;
  }
  
  .todo-button {
    padding: 15px;
    border: none;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    outline: none;
    background: #3d3d3d;
    color: #fff;
    text-transform: capitalize;
  }

  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px auto;
    color: #fff;
    background: linear-gradient(
      90deg,#3d3d3d 0%,
      #b9b9b9 100%
    );
    border: solid #3d3d3d;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: rgb(0, 0, 0);
  }
  
  .edit-icon {
    color: rgb(0, 0, 0);
  }